language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.3.3

before_script:
  - wget -nc http://getcomposer.org/composer.phar
  - php composer.phar install --dev

script: phpunit

notifications:
  email:
    - liuggio@gmail.com
